@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold"), url("Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"),
    url("../fonts/GeneralSans-Regular.woff") format("woff"),
    url("../fonts/GeneralSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-Italic";
  src: url("../fonts/GeneralSans-Italic.woff2") format("woff2"),
    url("../fonts/GeneralSans-Italic.woff") format("woff"),
    url("../fonts/GeneralSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Medium";
  src: url("../fonts/GeneralSans-Medium.woff2") format("woff2"),
    url("../fonts/GeneralSans-Medium.woff") format("woff"),
    url("../fonts/GeneralSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-MediumItalic";
  src: url("../fonts/GeneralSans-MediumItalic.woff2") format("woff2"),
    url("../fonts/GeneralSans-MediumItalic.woff") format("woff"),
    url("../fonts/GeneralSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Semibold";
  src: url("../fonts/GeneralSans-Semibold.woff2") format("woff2"),
    url("../fonts/GeneralSans-Semibold.woff") format("woff"),
    url("../fonts/GeneralSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-SemiboldItalic";
  src: url("../fonts/GeneralSans-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/GeneralSans-SemiboldItalic.woff") format("woff"),
    url("../fonts/GeneralSans-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Bold";
  src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"),
    url("../fonts/GeneralSans-Bold.woff") format("woff"),
    url("../fonts/GeneralSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-BoldItalic";
  src: url("../fonts/GeneralSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/GeneralSans-BoldItalic.woff") format("woff"),
    url("../fonts/GeneralSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

.marquee {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

.marquee2 span {
  animation-delay: 5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
