{% extends "base.html" %} {% block content %}

    <img src="/static/aboutIllus.png" class="absolute bottom-0 right-0 scale-[0.85] origin-bottom-right pointer-events-none" alt="aboutbgRect" />

    <div class="relative min-h-screen overflow-hidden">
    <div class="fixed top-0 left-0 pointer-events-none">
        <img src="/static/aboutbgRect.png" class="w-full h-auto scale-[0.8] origin-top-left" alt="aboutbgRect" />
    </div>
    
    <div class="relative z-10 min-h-screen ml-[5.5rem] flex flex-col justify-center mt-6">
        <span class="text-[#201f1f] text-[15.625rem] font-bold leading-[300px]">WHO<br/></span>
        <span class="text-[#e0e0e0] text-[12.5rem] -ml-4 font-bold leading-[200px] -mt-12">ARE WE?</span>
        <div class="w-[800px]">
            <span class="text-[#a1a1a1] text-3xl fontnormal leading-[30px]">At </span>
            <span class="text-[#0ee26e] text-3xl fontnormal leading-[30px]">TheBoredGames</span><span class="text-[#a1a1a1] text-3xl fontnormal leading-[30px]">, we're a group of people who believe that the joy of traditional board games should be accessible to everyone, anywhere, at any time. Our mission is to blend the nostalgia of game nights with the convenience of modern technology, allowing friends, families, and communities to connect and compete in innovative ways.</span>
        </div>
    </div>

{% endblock %}
