{% extends "base.html" %} {% block content %}
<div class="min-h-screen text-white pt-24 pb-24 flex flex-col items-center">
  <h1 class="text-[4rem] font-extrabold text-neutral-200">We're hiring!</h1>
  <!-- TODO: think of better text lol -->
  <div class="mt-2 mb-8 w-full px-4 md:w-1/2 text-center text-neutral-400 text-xl">
    Join a team of
    <span class="text-green-500 font-bold">storytellers, designers, and programmers</span>
    working together to
    <span class="text-green-500 font-bold">revolutionize</span>
    board games, blending nostalgia with innovation to create
    <span class="text-green-500 font-bold">fresh, exciting experiences.</span>
  </div>
  <p class="marquee w-full text-3xl p-2 bg-amber-300 font-bold text-black">
    <span>WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp;
      WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp; WE
      ARE HIRING! &nbsp; WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp; WE ARE HIRING! &nbsp;WE ARE HIRING! &nbsp; WE ARE
      HIRING! &nbsp; WE ARE HIRING! &nbsp;</span>
  </p>

  <div class="flex items-center justify-start w-full mt-16">
    <img src="/static/gun1.png" class="w-1/2" alt="" />
    <div class="w-1/2 flex justify-center">
      <div class="p-8 rounded-lg flex flex-col w-1/2 bg-neutral-900 items-center relative">
        <div class="absolute h-full w-full flex justify-center items-center">
          <div class="h-64 w-64 bg-green-500/20 mb-20 blur-2xl"></div>
        </div>
        <img src="/static/headphones.png" class="h-72 z-[20] my-8" alt="headphones" />
        <div class="flex w-full items-center justify-between z-20">
          <div>
            <p class="text-2xl font-bold">Audio Producer</p>
            <p class="text-sm text-gray-400">Full-time • Los Angeles</p>
          </div>
          <a href="/apply" class="rounded-full bg-green-500 text-black font-semibold px-4 py-2">Apply Now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-start w-full mt-24">
    <div class="w-1/2 flex justify-center">
      <div class="p-8 rounded-lg flex flex-col w-1/2 bg-neutral-900 items-center relative">
        <div class="absolute h-full w-full flex justify-center items-center">
          <div class="h-64 w-64 bg-green-500/20 mb-20 blur-2xl"></div>
        </div>
        <img src="/static/gamecontroller.png" class="h-72 z-[20] my-8 object-contain" alt="controller" />
        <div class="flex w-full items-center justify-between z-20">
          <div>
            <p class="text-2xl font-bold">Game Tester</p>
            <p class="text-sm text-gray-400">Part-time • Remote Friendly</p>
          </div>
          <a href="/apply" class="rounded-full bg-green-500 text-black font-semibold px-4 py-2">Apply Now</a>
        </div>
      </div>
    </div>
    <img src="/static/gun2.png" class="w-1/2" alt="" />
  </div>
</div>
{% endblock %}