{% extends "base.html" %} {% block content %}
  <div class="min-h-screen ml-24 mt-44">
      <div class="text-[#ececec]/80 text-[50px] font-semibold font-['GeneralSans-Semibold'] flex items-center">
      The hub of
      </div>

      <div class="text-[#0ee26e] text-[80px] font-semibold font-['GeneralSans-Semibold'] flex items-center -mt-8">
      Board Games
      </div>

      <div class="w-[621px] text-[#a1a1a1] text-3xl font-normal font-['GeneralSans-Regular'] flex items-center leading-8">
      Lorem ipsum odor amet, consectetuer adipiscing elit. Venenatis arcu fusce lectus hac suspendisse dapibus.
      </div>
  </div>

  <div class="absolute bottom-0 right-0 pointer-events-none">
      <img src="/static/ship.png" />
  </div>
{% endblock %}