{% extends "base.html" %} {% block content %}

  <div class="glow absolute -bottom-[400px] -right-[400px] w-[2300px] h-[600px] rounded-[92rem] bg-gradient-to-t from-[rgba(14,226,110,0.25)] to-[rgba(41,225,219,0.25)] rotate-[150deg] z-0 blur-[100px]"></div>

  <div class="min-h-screen ml-24 mt-48">
    <div class="text-[#ececec]/80 text-[50px] font-semibold font-['GeneralSans-Semibold'] flex items-center">
    The hub of
    </div>

    <div class="text-[#0ee26e] text-[80px] font-semibold font-['GeneralSans-Semibold'] flex items-center -mt-8">
    Board Games
    </div>

    <div class="w-[621px] text-[#a1a1a1] text-3xl font-normal font-['GeneralSans-Regular'] flex items-center leading-8">
    Lorem ipsum odor amet, consectetuer adipiscing elit. Venenatis arcu fusce lectus hac suspendisse dapibus.
    </div>
    
    <div class="w-[200px] h-[80px] relative mt-8">
      <a href="https://battleship.rex.wf" class="block transition-transform duration-200">
        <div class="w-full h-full absolute bg-[#00ff73]/10 rounded-[16px] blur-[16px] transition-all duration-200 group-hover:blur-[24px]"></div>
        <div class="w-full h-full left-[4px] top-[4px] absolute rounded-lg transition-all duration-200 hover:brightness-110">
          <img class="w-[190px] h-[70px]" src="/static/subtract.svg" />
          <div class="left-[25px] top-[16px] absolute text-center text-[#37b771] text-[1.6rem] font-['GeneralSans-Bold'] transition-colors duration-200 hover:text-[#42d584]">PLAY NOW</div>
        </div>
      </div>
    </a>

  </div>

  <div class="absolute bottom-0 right-0 pointer-events-none">
    <img src="/static/ship.png" loading="eager" decoding="async" alt="Ship" />
  </div>
{% endblock %}