<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/output.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/general-sans" rel="stylesheet">
    <title>The Bored Games</title>
</head>
<body class="w-full h-full overflow-hidden bg-[#201F1F]">
  <div class="absolute -bottom-[400px] -right-[400px] w-full h-full rounded-[91.18744rem] bg-gradient-to-t from-[rgba(14,226,110,0.25)] to-[rgba(41,225,219,0.25)] rotate-[141.317deg] z-0 blur-[100px]"></div>

  <img class="absolute top-0 left-0 p-10" src="/static/logo.png" />
  
  <div class="flex justify-center w-full mt-8">
    <div class="flex items-center justify-center gap-[120px] bg-[#262626] rounded-full px-24 h-20 shadow-[0_2px_3px_rgba(0,0,0,1)] relative">
      <div class="text-[#0ee26e] border-b-2 border-[#ececec] text-[35px] mb-1 font-medium font-['General Sans']">Home</div>
      <div class="text-[#ececec] text-[35px] font-medium font-['General Sans']">Careers</div>
      <div class="relative w-[103px] h-[90px]">
        <img class="absolute -top-4 -bottom-4 left-0 w-[103px] h-[110px]" src="/static/dice1.png" alt="Dice">
        </div>
      <div class="text-[#ececec] text-[35px] font-medium font-['General Sans']">About</div>
      <div class="text-[#ececec] text-[35px] font-medium font-['General Sans']">Contact</div>
    </div>
  </div>
</body>

    <div class="min-h-screen ml-24">
        <div class="text-[#ececec]/80 text-[50px] font-semibold font-['General Sans'] flex items-center mt-40">
        The hub of
        </div>

        <div class="text-[#0ee26e] text-[80px] font-semibold font-['General Sans'] flex items-center -mt-8">
        Board Games
        </div>

        <div class="w-[621px] text-[#a1a1a1] text-3xl font-normal font-['General Sans'] flex items-center">Lorem ipsum odor amet, consectetuer adipiscing elit. Venenatis arcu fusce lectus hac suspendisse dapibus.</div>
    </div>

    <div class="absolute bottom-0 right-0">
        <img class="Ship w-[1101px] h-[903px]" src="/static/ship.png" />
    </div>
</body>
</html>